<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vendor.tcc">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:supportsRtl="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:name="vendor.tcc.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_icon"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="vendor.tcc.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vendor.tcc.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="vendor.tcc.networkconnectivity.NetworkError" />
        <activity
            android:name="vendor.tcc.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Firebase Notifications -->
        <service android:name="fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- ./Firebase Notifications -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_ILgsfZCZoFIKMb"
            />

        <activity android:name="vendor.tcc.SelectStore" />
        <activity android:name="vendor.tcc.SelectCity" />
        <activity
            android:name="vendor.tcc.ForgotActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="vendor.tcc.PaymentGatWay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="vendor.tcc.My_Order_activity" />
        <activity android:name="vendor.tcc.MyOrderDetail" />
        <activity android:name="vendor.tcc.RechargeWallet" />
        <meta-data android:name="android.support.multidex.MultiDexApplication"
            android:value="true" />

        <activity android:name="vendor.tcc.ThanksOrder" />
        <activity android:name="vendor.tcc.OrderFail" />
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="vendor.tcc.Paytm" />
        <activity android:name="vendor.tcc.networkconnectivity.NoInternetConnection" />
    </application>


</manifest>